[submodule "testing_codes/symlib"]
	path = testing_codes/symlib
	url = https://github.com/msg-byu/symlib
[submodule "symlib"]
	path = symlib
	url = https://github.com/msg-byu/symlib.git
[submodule "kgridGen"]
	path = kgridGen
	url = https://github.com/msg-byu/kgridGen.git
